/* Projects.module.css */

.projects {
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectList {
  display: grid;
  gap: 20px;
}

.projectItem {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectItem h3 {
  margin-top: 0;
}

.projectItem a {
  color: #007bff;
  text-decoration: underline;
}

.projectItem:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skillsList {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  display: flex; /* Utilisez Flexbox pour un meilleur contrôle */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
}

.skillItem {
  background-color: #ffecb3;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px; /* Ajoutez de la marge autour des éléments pour l'espacement */
  font-size: 14px;
  font-weight: bold;
  display: inline-block; /* Gardez le comportement en ligne pour les petits écrans */
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
  .projects {
    padding: 20px;
  }

  .projectItem {
    padding: 15px;
  }

  .skillsList {
    flex-direction: column; /* Aligne les éléments en colonne sur les petits écrans */
  }

  .skillItem {
    margin: 5px 0; /* Ajoutez de la marge en haut et en bas des éléments pour l'espacement */
  }
}
