.skills {
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  margin-bottom: 10px;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 4px;
  color: #fff; /* Couleur du texte en blanc pour le contraste */
}

/* Styles spécifiques pour chaque compétence */
.htmlCss {
  background-color: #E44D26; /* Rouge pour HTML & CSS */
}

.javaScript {
  background-color: #F7DF1E; /* Jaune pour JavaScript */
  color: #000; /* Texte noir pour un meilleur contraste */
}

.react {
  background-color: #61DAFB; /* Bleu clair pour React */
  color: #000; /* Texte noir pour un meilleur contraste */
}

.responsiveDesign {
  background-color: #4CAF50; /* Vert pour Responsive Design */
}

/* Media query pour ajuster le padding et la taille de la police sur les petits écrans */
@media (max-width: 768px) {
  .skills {
      padding: 20px;
  }

  .skills li {
      font-size: 1em;
  }
}
