/* Header.module.css */
.header {
  position: relative;
  text-align: center;
  padding: 0;
  background-image: url('../../assets/img/home2.jpg');
  background-size: cover;
  background-position: center 38%;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.textOverlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  width: 90%;
  padding: 0 1rem;
}

.mainTitle {
  font-size: 5vw;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.mainParagraph {
  font-size: 2.5vw;
  margin-top: 10px;
  padding: 0;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.navLink {
  font-size: 1.5vw;
  color: white;
  margin: 0 2vw;
  text-decoration: none;
  padding: 0.5vw;
  transition: background-color 0.3s ease;
}

.active {
  background-color: white;
  color: black;
}

.navLink:hover {
  background-color: white;
  color: black;
}

/* Media query pour les petits écrans */
@media (min-width: 769px) {
  .header {
    height: 100vh;
  }

  .nav {
    padding: 2vw;
  }

  .navLink {
    font-size: 1.5em;
  }

  .mainTitle {
    font-size: 3em;
  }

  .mainParagraph {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .header {
    height: 100vh;
  }

  .nav {
    flex-direction: row;
    padding: 2vw;
  }

  .navLink {
    font-size: 1em;
    margin: 0 1vw;
  }

  .mainTitle {
    font-size: 4vw;
  }

  .mainParagraph {
    font-size: 3vw;
  }
}
