/* Container de l'en-tête */
.header {
    position: relative;
    text-align: center;
    padding: 0;
    background-image: url('../../assets/img/home2.jpg');
    background-size: cover;
    background-position: center 38%; /* Ajuste la position de l'image */
    background-attachment: fixed; /* Rend l'image fixe */
    height: 100vh; /* Assure que le header prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espace entre la navigation et le contenu principal */
  }
  
  /* Conteneur pour l'image */
  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px; /* Ajustez en fonction de la hauteur de la barre de navigation */
    background: inherit; /* Utilise le fond de l'en-tête */
    z-index: -1; /* Place l'image derrière le contenu */
  }
  
  /* Styles pour la barre de navigation */
  .nav {
    position: absolute; /* Positionnement absolu pour placer la nav en bas */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* Styles pour les liens de navigation */
  .navLink {
    font-size: 1.2em;
    color: white;
    margin: 0 15px; /* Espace entre les liens */
    text-decoration: none; /* Retire le soulignement */
    padding: 10px; /* Ajoute de l'espace autour des liens */
    transition: background-color 0.3s ease; /* Transition douce pour les changements de couleur */
    border-radius: 5px; /* Bordures arrondies pour un effet esthétique */
  }
  
  /* Couleur de fond pour le lien actif */
  .active {
    background-color: white;/* Couleur de fond pour le lien actif */
    color: black; /* Couleur du texte pour le lien actif */
  }
  
  /* Couleur de fond au survol */
  .navLink:hover {
    background-color: white; /* Couleur de fond au survol */
    color: black;
  }
  
  /* Styles spécifiques pour les grands écrans */
  @media (min-width: 769px) {
    .header {
      height: 100vh; /* Hauteur de l'en-tête pour les grands écrans */
    }
  
    .nav {
      padding: 20px; /* Augmente le padding pour les grands écrans */
    }
  
    .navLink {
      font-size: 1.5em; /* Augmente la taille des liens pour les grands écrans */
    }
  }
  
  /* Styles pour les écrans moyens et petits */
  @media (max-width: 768px) {
    .header {
      height: 50vh; /* Réduit la hauteur de l'en-tête sur les petits écrans */
    }
  
    .nav {
      flex-direction: row; /* Dispose les liens en ligne */
      padding: 10px; /* Réduit le padding pour les petits écrans */
    }
  
    .navLink {
      font-size: 1em; /* Réduit la taille des liens pour les petits écrans */
      margin: 0 10px; /* Ajuste les marges pour les petits écrans */
    }
  }
  