.header {
  position: relative;
  text-align: center;
  padding: 0;
  background-image: url('../../assets/img/Joy.webp');
  background-size: cover;
  background-position: center 40%;
  background-attachment: fixed;
  min-height: 100vh; /* S'assure que le header occupe la hauteur de l'écran */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: -1; /* Assure que l'image de fond reste derrière le contenu */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0; /* Assure que l'overlay ne masque pas le texte */
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  width: 90%;
  padding: 1rem;
}

.mainTitle {
  font-size: 4vw;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.mainParagraph {
  font-size: 2vw;
  margin-top: 10px;
  padding: 0;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.navLink {
  font-size: 1.5vw;
  color: white;
  margin: 0 2vw;
  text-decoration: none;
  padding: 0.5vw;
  transition: background-color 0.3s ease;
}

.active {
  background-color: white;
  color: black;
}

.navLink:hover {
  background-color: white;
  color: black;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
  .header {
    min-height: 100vh; /* Assure que le header occupe toute la hauteur de l'écran */
    background-size: cover;
    background-position: center; /* Centre l'image pour les petits écrans */
    background-attachment: scroll; /* Évite les problèmes de fixation de fond sur mobile */
  }

  .nav {
    flex-direction: column; /* Positionne les liens de navigation en colonne */
    padding: 2vw;
  }

  .navLink {
    font-size: 1em;
    margin: 1vw 0;
  }

  .mainTitle {
    font-size: 5vw; /* Ajuste la taille du titre pour les petits écrans */
  }

  .mainParagraph {
    font-size: 4vw; /* Ajuste la taille du paragraphe pour les petits écrans */
  }
}
